<div id="privacy" class="sign container2">
<h1>プライバシーポリシー</h1>	

	<section>
        <p><span class="fs_0">vegeres</span>は、個人情報保護に関する法令を遵守し、同法に関連する社会的な通念に従って、利用者のプライバシー保護に努めます。</p>
        <h2>第１条（個人情報の定義）</h2>
        <p>個人情報とは、本サービスを通じて利用者から取得する氏名、メールアドレス、パスワード、その他の利用者個人を特定できる情報のことを指します。</p>

        <h2>第２条（個人情報の取得・利用について）</h2>
        <p><span class="fs_0">vegeres</span>は、下記の場合において、個人情報を取得・利用します。<br>
            ・利用者がサービスを使用するため<br>
            ・サービスの改善に役立てるため<br>
            ・法的に必要だと認められた場合</p>
  
        <h2>第３条（個人情報の第三者への開示・提供の禁止）</h2>
        <p><span class="fs_0">vegeres</span>は、以下の場合を除き、第三者に対しデータを開示・提供することはいたしません。 <br>
            ・ご本人が事前に同意した場合<br>
            ・法律に基づく場合<br>
            ・法令の定める事務を遂行するために、協力する必要性がでてきた場合</p>

        <h2>第４条（本サービスの停止・変更・休止・廃止）</h2>
        <p><span class="fs_0">vegeres</span>は、理由の如何を問わず、利用者に事前の通知及びいかなる補償をすることもなく、サービスの全部または一部を停止、変更、休止または廃止することができるものとします。当該停止により、利用者または第三者に損害が生じた場合であっても、
          <span class="fs_0">vegeres</span>は、何らの責任も負わないものとします。</p>

        <h2>第５条（免責）</h2>
        <p><span class="fs_0">vegeres</span>は、本サービスの情報のすべてについての正確性、安全性及び有用性を保証するものではありません。<br>
        <span class="fs_0">vegeres</span>は、利用者が当社サービスによって、行った一切の行為と、その結果及び当該行為によって被った損害について、何ら責任を負わないものとします。</p>

        <h2>第６条（改定）</h2>
        <p><span class="fs_0">vegeres</span>は、当プライバシーポリシーの全部または一部を改定することがあります。</p>

        <h2>第７条（個人情報等の取り扱い）</h2>
        <p><span class="fs_0">vegeres</span>は、本サービスの提供に際して利用者から取得した個人情報は、「プライバシーポリシー」に従い、適切に取り扱います。</p>
        
  </section>
</div>
