<div id="map_search" class="container">
                <form><input type="text" />
                    <a href="#" id="map_search_submit">
                    <span class="glyphicon glyphicon-search">
                        <input alt="検索" value="<%= params[:q] %>" type="submit" placeholder="キーワード、地域を入力">
                    </span>
                    </a>
                </form>
</div>




    <div id="control_container"></div>
    <div id="map_canvas"></div>
    <div id="results"></div>

