<div id="map_search">
			<form><input type="text" /><a href="#" id="map_search_submit">
				<span class="glyphicon glyphicon-search"></span></a></form>
</div>
<div id="control_container"></div>

<div id="map_canvas"></div>

<div id="results"></div>
