<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>vegeres</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- css -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/util.css">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/hover-min.css">
        <link rel="stylesheet" href="css/style.css">
        
        <link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
        <!-- modernizr -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="header">

            <!-- <div class="top_bar">
                <div class="container">
                    <ul class="list-inline text-right">
                        <li class="tell"><i class="fa fa-phone"></i> 000-0000-0000</li>
                        <li class="mail"><i class="fa fa-envelope-o"></i> sample@mail.com</li>
                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div> -->
            <!-- /top_bar -->

            <div class="nav_bar">
                <div class="container">

                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="title"><a class="navbar-brand" href="#">vegeres</a></h1>
                        </div>

                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                
                                <li class="dropdown">
                                    <a href="#">Vegeresとは<b class="caret"></b></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>

                </div>
                <!-- /nav_bar -->
            </div>
            <!-- /nav_bar -->

        </div>
        <!-- /header -->

        <div id="main">

        	<div id="map_search">
			<form><input type="text" />
				<a href="#" id="map_search_submit">
				<span class="glyphicon glyphicon-search">
					<input alt="検索" value="<%= params[:q] %>" type="submit">
				</span>
			    </a></form>
</div>
<div id="control_container"></div>

<div id="map_canvas"></div>

<div id="results"></div>

<div id="map_canvas"></div>

            <div class="main_slider">

                <div class="carousel-inner">
                    
                    <div class="item active">
                        <img src="slider-1.jpg" alt="slider-1">
                        <div class="carousel-caption">
                            <h3 class="title">Vegeres</h3>
                            <p>ベジタリアン・ビーガンの方も、そうではない方も一緒に食事ができるレストランを探そう！</p>

                         <!-- <button type="submit" class="btn btn-lang">現在地から探す</button>    -->
                          <div class="col-sm-6 col-md-6">

                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="キーワード、地域を入力">

                              <span class="input-group-btn">
                                <button class="btn" type="button"><span class="glyphicon glyphicon-search"></span></button>
                              </span>

                                </div><!-- /input-group -->
                              </div><!-- /.col-lg-6 -->                      
                        </div>
                    </div>


            <!-- <div class="col-sm-4 col-md-3">
                <div class="image hover-shadow">
                    <img src="img/man.png" height="128" width="128" alt="">
                </div>
                <div class="description">
                    <h3 class="title">Support</h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div> -->
                </div>

            </div>
            <!-- /main_slider -->

            <section class="our_blog">
                <div class="container">
                    <div class="row">
                        
                        <!-- <h2 class="title text-center">検索結果</h2>
                        <p class="title_text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                        
                        <div class="right_col col-sm-6 text-center">
                   

                        </div>
                        <!-- /right_col -->

                        <div class="left_col col-sm-6">

                            <div class="item_panel">
                                <div class="image">image</div>
                                <div class="description">
                                    <h3 class="title">
                                        <a href="#">blog-title-here</a> <span class="label label-danger">NEW</span>
                                    </h3>
                                    <ul class="meta list-inline">
                                        <li><i class="fa fa-clock-o"></i> 1day ago</li>
                                        <li><i class="fa fa-tag"></i> tag-a , tag-b</li>
                                        <li><i class="fa fa-user"></i> jhon</li>
                                    </ul>
                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <!-- /item_panel -->


                            <div class="item_panel">
                                <div class="image">image</div>
                                <div class="description">
                                    <h3 class="title">
                                        <a href="#">blog-title-here</a>
                                    </h3>
                                    <ul class="meta list-inline">
                                        <li><i class="fa fa-clock-o"></i> 1day ago</li>
                                        <li><i class="fa fa-tag"></i> tag-a , tag-b</li>
                                        <li><i class="fa fa-user"></i> jhon</li>
                                    </ul>
                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <!-- /item_panel -->

                            <div class="item_panel">
                                <div class="image">image</div>
                                <div class="description">
                                    <h3 class="title">
                                        <a href="#">お店の名前</a>
                                    </h3>
                                    <ul class="meta list-inline">
                                        <li><i class="fa fa-clock-o"></i> 1day ago</li>
                                        <li><i class="fa fa-tag"></i> tag-a , tag-b</li>
                                        <li><i class="fa fa-user"></i> jhon</li>
                                    </ul>
                                    <p class="text">住所がはいります。</p>

                                </div>
                            </div>
                            <!-- /item_panel -->

                            <div class="item_panel">
                                <div class="image">image</div>
                                <div class="description">
                                    <h3 class="title">
                                        <a href="#">お店の名前</a>
                                    </h3>
                                    <ul class="meta list-inline">
                                        <li><i class="fa fa-clock-o"></i> 1day ago</li>
                                        <li><i class="fa fa-tag"></i> tag-a , tag-b</li>
                                        <li><i class="fa fa-user"></i> jhon</li>
                                    </ul>
                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <!-- /item_panel -->

                        </div>
                        <!-- /left_col -->

                        
                     <!-- <img src="http://lorempixel.com/500/600/business/1" alt=""> -->
                   
                    </div>
                </div>
            </section>
            <!-- /our_blog -->

            <section class="contact_us text-center">


                <section id="contact" class="contact">
                  <div class="container">
                    <h2>Contact</h2>
                    <!-- ★formへ、action="" method="POST" role="form"を追加する -->
                    <form action="" method="POST" class="form-horizontal" role="form">
                    <!-- ★class="form-group"は、削除。>>代わりにレイアウト用のcol-sm-6で、名前とEmailそれぞれを挟む。-->
                     <div class="row"> 
                           <div class="col-sm-6">
                              <label for="inputName" class="col-sm-2">Name</label>
                              <div class="col-sm-10">
                                <input type="text" name="name" id="inputName" class="form-control" value="" required="required" pattern="" title="" placeholder="お名前">
                              </div>
                            </div>

                            <div class="col-sm-6">
                              <label for="inputName" class="col-sm-2">Email</label>
                              <div class="col-sm-10">  
                                <input type="email" name="email" id="inputEmail" class="form-control" value="" required="required" title="" placeholder="hogehoge@gmail.com">
                              </div>
                            </div>
                     </div>

                    <div class="col-sm-12">
                         <label for="inputContents" class="pull-left mt-10">お問い合わせ内容</label      
                         <!-- ★rows="6"で、textareaの高さを多めに設定。-->    
                            <textarea name="message" id="inputMessage" class="form-control" rows="6" placeholder="お問い合わせ内容を入力して下さい"></textarea>
                         <button type="submit" class="btn btn-primary pull-right">入力内容の確認</button>          
                    </div>
                    </div>
                    </form>
                  </div>
                </section>

                
            </section>
            <!-- /contact_us -->

        </div>
        <!-- /main -->

        <div id="footer">
            <div class="container">
                <div class="row">

                    <div class="footer_panel col-sm-6 col-md-6">
                        <h4 class="title">about</h4>
                        <p class="text">
                            すべての人が、楽しく過ごせるレストランを探そう！
                        </p>
                    </div>
                    <!-- /footer_panel -->
        
                    
        
                    <div class="footer_panel right col-sm-6 col-md-6">
                        <h4 class="title">social</h4>
                        <ul class="sns list-inline">
                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                    <!-- /footer_panel -->

                </div>
            </div>

            <div class="copy text-center">
                copyright vegeres.jp
            </div>

        </div>
        <!-- /footer -->


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>



<!-- <div id="control_container">
	<div id="map_search">
		<form><input type="text" />
			<a href="#" id="map_search_submit">
			<span class="glyphicon glyphicon-search"></span>
		</a>
	    </form>
	</div>
	<div class="attribution">
		<p>powered by Yelp</p>
		<p class="burst"><img alt="Burst tiny" src="/assets/burst_tiny-e3efdd778ee6ed3ac31815e56aace16a.png" /></p>
	</div>

	<div id="results"></div>
</div> -->