

<!--トップページ画像・検索フォーム-->
<div id="main">
    <div class="main_slider">
        <div class="carousel-inner">
            <div class="item active">
              <!-- 背景 -->
              <div class="main_img"><%= image_tag("slider-1a.jpg", :alt => "mainvisual", :class => "img-responsive") %></div>
                <div class="carousel-caption">
                  <%= image_tag("logo_c.png", :alt => "vegeres", :class => "title") %>
                    <p>ベジタリアン・ビーガンの方も、そうではない方も一緒に楽しく食事ができるレストランを探そう！</p>


                <div id="map_search">
                  <form class="form-search" method="get" >
                      <a id="map_search_submit">
                      <div class="input-group">
                        <input type="text" class="form-control input-medium search-query" placeholder="例：東京駅、渋谷駅" value="<%= params[:q] %>" >

                        <span class="input-group-btn">
                          <input alt="検索" type="submit" value="検索">
                        </span>
                      </div><!-- /input-group -->
                  </form>
                  </div><!-- /map_search -->                    
                  </div><!-- /carousel-caption --> 
            </div>
        </div>
    </div>
    <!-- /main_slider -->
</div><!-- main -->
<div class="top_m sign container2">
<section>
<h1>How to use <span>“</span>vegeres<span>”</span></h1>
<p class="tx_h">上の検索窓から駅名を入力すると、その付近のベジタリアン向けのレストランが表示されます！</p>

</section>
</div>



<div id="results"></div>

<div id="map_canvas"></div>
<div id="control_container"></div>


<p class="yelp_note"><span>※vegeres</span>は、<span>yelp</span>から情報を提供されています。<a href="http://www.yelp.com/" target="_blank"><%= image_tag("yelp_logo02.png", :alt => "yelp", :width =>"55px") %></a></p>
</div> 
