<div id="rule" class="sign container2">
<h1>利用規約</h1>	

	<section>
        <p><span class="fs_0">vegeres</span> は、<a href="http://www.yelp.com/">Yelp</a>のAPIを使用したWEBサービスです。すべてのお店情報のコンテンツは、Yelpに帰属しています。この利用規約は、<span class="fs_0">vegeres</span> のWEBサービスの利用条件を定めるものです。利用者の皆さまには、本規約に従って本サービスをご利用いただきます。</p>

        <h2>第１条（個人情報の定義）</h2>
        <p>個人情報とは、本サービスを通じて利用者から取得する氏名、メールアドレス、パスワード、その他の利用者個人を特定できる情報のことを指します。</p>

        <h2>第２条（利用登録）</h2>
        <p>登録希望者が、<span class="fs_0">vegeres</span> の定める方法によって利用登録を申請し、<span class="fs_0">vegeres</span> がこれを承認することによって、利用登録が完了するものとします。</p>

  
       
        <h2>第４条（利用者IDおよびパスワードの管理）</h2>
        
        <p>利用者は、自己の責任において本サービスの利用者ID（E-mail）およびパスワードを管理するものとします。</p>
        <p>利用者は、いかなる場合にも利用者IDおよびパスワードを、第三者に譲渡または貸与することはできません。<span class="fs_0">vegeres</span> は利用者IDとパスワードの組み合わせが登録情報と一致してログインされた場合には、その利用者IDを登録している利用者自身による利用とみなします。</p>
        
        <h2>第５条（禁止事項）</h2>
        <p>利用者は本サービスの利用にあたり以下の行為をしてはなりません。</p>

        <ul>
        <li>（1）法令または公序良俗に違反する行為</li>
        <li>（2）犯罪行為に関連する行為</li>
        <li>（3）<span class="fs_0">vegeres</span> のサーバーまたはネットワークの機能を破壊したり妨害したりする行為</li>
        <li>（4）<span class="fs_0">vegeres</span> のサービスの運営を妨害するおそれのある行為</li>
        <li>（5）他の利用者に関する個人情報等を収集または蓄積する行為</li>
        <li>（6）他の利用者に成りすます行為</li>
        <li>（7）その他<span class="fs_0">vegeres</span> が不適切と判断する行為</li>
        </ul>           
  
        <h2>第６条（本サービスの提供の停止等）</h2>

        <p><span class="fs_0">vegeres</span> は以下のいずれかの事由があると判断した場合、利用者に事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。</p>

        <ul>
        <li>（1）本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
        <li>（2）地震落雷火災停電または天災などの不可抗力により本サービスの提供が困難となった場合</li>
        <li>（3）コンピュータまたは通信回線等が事故により停止した場合</li>
        <li>（4）その他<span class="fs_0">vegeres</span> が本サービスの提供が困難と判断した場合</li>
        </ul>           
  
        <p><span class="fs_0">vegeres</span> は、本サービスの提供の停止または中断により、利用者または第三者が被ったいかなる不利益または損害について、理由を問わず一切の責任を負わないものとします。</p>


        <h2>第７条（利用制限および登録抹消）</h2>

        <p><span class="fs_0">vegeres</span> は、以下の場合には事前の通知なく、利用者に対して本サービスの全部もしくは一部の利用を制限し、または利用者としての登録を抹消することができるものとします。</p>

        <ul>
        <li>（1）本規約のいずれかの条項に違反した場合</li>
        <li>（2）登録事項に虚偽の事実があることが判明した場合</li>
        <li>（3）その他、<span class="fs_0">vegeres</span> が本サービスの利用を適当でないと判断した場合</li>
        </ul>           
    
        <h2>第８条（免責事項）</h2>
        
        <p><span class="fs_0">vegeres</span> は、本サービスに関して利用者に生じた損害に関して一切責任を負いません。</p>
        
        <h2>第９条（サービス内容の変更等）</h2>
        <p><span class="fs_0">vegeres</span> は、利用者に通知することなく本サービスの内容を変更し、または本サービスの提供を中止することができるものとし、これによって利用者に生じた損害について一切の責任を負いません。</p>

        <h2>第１０条（利用規約の変更）</h2>
        <p><span class="fs_0">vegeres</span> は、利用者に通知することなく本規約の全部または一部を変更することができるものとします。</p>

        <h2>第１１条（通知または連絡）</h2>
        <p>利用者と<span class="fs_0">vegeres</span> との間の通知または連絡は、<span class="fs_0">vegeres</span> の定める方法によって行うものとします。</p>

        <h2>第１２条（準拠法・裁判管轄）</h2>
        <p>本規約の解釈にあたっては日本法を準拠法とします。</p>
        
  </section>
</div>
