x<div id="about" class="sign">
<h1>About vegeres</h1>
<p class="a_txt01">ベジタリアンやビーガンの家族や友達と食事をする時、レストラン探しに、迷ったことはありませんか？</p>
	
	<!--  FIRST  -->
	<section id="w">
		<div class="row nopadding">
			<div class="col-md-5 col-md-offset-1 mt">

			 <!-- <h2>vegeres</h2> -->
			 <p><span class="fs_0"><span class="im_t">“</span>vegeres<span class="im_t">”</span></span> は、ベジタリアン・ビーガンの方も、そうではない方も一緒に楽しく食事ができるレストランを探せます！</p>
			 <p class="number">
			 <span>1 . </span>検索フォームに、駅名や地域名を入力して下さい。<br>
			 <span><span class="a_txt03">2</span> . </span>検索ボタンをおしてみましょう！<br>
			 <span>3 . </span>お店の一覧が表示されます！</p>				
			</div>
			
			<div class="col-md-6 pull-right">
				<div data-effect="slide-right"><%= image_tag("shot01-1.jpg", :alt => "イメージ写真", :class => "img-responsive alignright" ) %></div>		
			</div>
		</div><!--/row -->
	</section><!--/container -->
	

	<!-- BLUE SECTION - PICTON -->
	<section id="picton">
		<div class="row nopadding">
			<div class="col-md-6 pull-left">
				<div data-effect="slide-left"><%= image_tag("shot01-2.jpg", :alt => "イメージ写真", :class => "img-responsive alignright" ) %></div>		
			</div>
			<div class="col-md-5 mt">
                <p>気になるお店を見つけたら、検索結果のお店の左の <span class="a_star">★</span>ボタンをクリック！</p>
			</div>
	
		</div><!--row -->
	</section><!--/Picton -->

	<!-- FIRST  -->
	<section id="fa">
		<div class="row nopadding">
			<div class="col-md-5 col-md-offset-1 mt">

			 <p>気になるお店を <span class="fs_0">My favorite list</span> ページに、ブックマークしておくことが出来ます！</p>			
			 <p class="fa_note">(<span>※ Sign up </span>ページから、事前に会員登録をした場合になります。)</p>			
	
			</div>
			
			<div class="col-md-6 pull-right fa_img">
				<div data-effect="slide-right"><%= image_tag("shot02.jpg", :alt => "イメージ写真", :class => "img-responsive alignright" ) %></div>		
			</div>
		</div><!--/row -->
	</section><!--/container -->

<section class="a_txt01a">
<h1>すべての人が、楽しく食事ができる未来へ</h1>
<p class="a_txt02"><span class="fs_0"><span class="im_t">“</span>vegeres<span class="im_t">”</span></span> をお役立てください。</p>
</section>




</div>
