<div id="about" class="sign container2">
<h1>About vegeres</h1>


<p><span class="fs_0"><span class="im_t">“</span>vegeres<span class="im_t">”</span></span> は、ベジタリアン・ビーガンの方も、そうではない方も一緒に楽しく食事ができるレストランを探せます！</p>

<section>
<p class="col-xs-12 col-sm-6 col-md-6">ベジタリアンやビーガンの家族や友達と食事をする時、
レストラン探しに、迷ったことはありませんか？</p>
 <%= image_tag("slider-1.jpg", :alt => "イメージ写真", :class => "col-xs-12 col-sm-6 col-md-6") %>
</section>

<section>
<%= image_tag("slider-1.jpg", :alt => "イメージ写真", :class => "col-xs-12 col-sm-6 col-md-6") %>
<p class="col-xs-12 col-sm-6 col-md-6">そんな時に、簡単に駅名をいれて検索するだけで、その付近のレストランを
探せる検索サービスを作りました。</p>
</section>

<section>
<h1>vegeres</h1>
<p class="col-xs-12 col-sm-6 col-md-6"><span class="fs_0">① Sign in</span>ページから、会員登録をすると、好きなお店をブックマークしておくことも出来ます。
My favorite listに、お店情報が並びます。</p>
<%= image_tag("slider-1.jpg", :alt => "イメージ写真", :class => "col-xs-12 col-sm-6 col-md-6") %>
</section>

<section>
<h1>すべての人が、楽しく食事ができる未来へ</h1>
<p><span class="fs_0"><span class="im_t">“</span>vegeres<span class="im_t">”</span></span> をお役立てください。</p>
<%= image_tag("slider-1.jpg", :alt => "イメージ写真", :class => "col-xs-12 col-sm-12 col-md-12") %>
</section>






</div>
