@import "bootstrap-sprockets";
/*↓使いたいcss以外削除*/
@import "bootstrap-custom";
@import "normalize";
@import "global";
@import "custom";

html, body {
  height: 100%;
  /*width: 100%;*/
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/*------MAP部分------*/

#map_canvas {
  height: 80%;
  width:  95%;
  margin: 0 auto;
  @media screen and (min-width: 992px) {
  
  }
  @media screen and (max-width: 991px) {
        width: 100%;
        /*height: 100%;*/

  }
  @media screen and (max-width: 768px) {
        width: 100%;
  }
}

#control_container {
  margin: 20px;
}

/*------検索ボックス部分------*/

#map_search{
  width:  90%;
  margin: 0 auto;
}

#map_search input[type=submit] {
  background-color: transparent;

}

#map_search input[type=submit] {
  background-image: url(/assets/search_icon.png) ;
  border: none;
  height: 42px;
  width: 41.5px;
  margin: 0 0 6px 5px;
}

#map_search input[type=text] {
  /*border: 1px solid #000;*/
  border-radius: 50px;
  padding: 20px;
  height: 50px;
  /*width: 455px;*/
}

#map_search input[type=text]:focus {
  outline: none;
  border: 1px solid #3FB8AF;
}

#map_search input[type=submit]:focus {
  outline: none;
}

#map_search form a {
  /*background: #000;*/
  color: #fff;
  display: inline-block;
  padding: 9px;
}


/*.main_slider .bk_01{
  background: rgba(0,0,0,1.0);
 
  width: 60%;
  margin: 0 auto;
  z−index: 30;
  height:100%;
  display: inline-block;
  position:absolute;
}
*/




/*.attribution {
  position: absolute;
  top: 5px;
  right: 45px;
}

.attribution p {
  color: #aaa;
  display: inline-block;
  padding-top: 2px;
}

.attribution p.burst {
  position: absolute;
  top: -2px;
}*/


/*------検索結果------*/

#results {
  display: none;
  margin: 0 auto 10px;
  width:  90%;
  padding: 0 0 0 0.3%;
  /*width: 465px;*/
}

#results .result {
  clear: both;
  animation: fadein .5s;
  -moz-animation: fadein .5s; /* Firefox */
  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera */

  background: #fff;
  border-bottom: 1px solid #e5e5e1;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 9px 0 5px 0;
  text-align: left;
  width: 110px;
}

#results .result p {
  margin: 0;
}

/*お気に入り★ボタン 作成*/
#results .result input{
  font-size: 24px;
  position: absolute;
  z-index: 10;
  color:#F9D423;
  text-decoration: none;
  margin: -20px 0 0 -16px;
  cursor: pointer;
  background:none;
  border: none;
  text-shadow: 0 1px #D7A405;

  input:active {
  color:#F08A4D;
  font-size: 26px;
  margin: -20px 0 0 -16px;
  background: transparent;
  }
  input:focus {
  outline: transparent;
}
}

#results .result input[type="submit"]:focus{
  outline: transparent;
}

/*---------------*/

.result h5 {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
  float:left;
}

.result img.biz_img {
  float:left;
  width:px;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

/*------検索結果 お店一覧が見える。---------*/

@keyframes fadein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

/* Firefox */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

