@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "global";
@import "custom";

html, body {
  height: 100%;
  /*width: 100%;*/
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}


/*------MAP部分------*/
#map_canvas {
  height: 100%;
  width: 50%;
  margin-left: 0px;
  float:left;
}

#control_container {
  margin: 20px;
}

#map_search {
  box-shadow: 2px 2px 3px #999;
  -moz-box-shadow: 2px 2px 3px #999;
  -webkit-box-shadow: 2px 2px 3px #999;
}

#map_search input[type=text] {
  border: 1px solid #fff;
  padding-left: 7px;
  height: 29px;
  width: 455px;
}

#map_search input[type=text]:focus {
  outline: none;

  border: 1px solid #c41200;
  border-right: none;
}

#map_search form a {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 7px 9px 7px 9px;
}

.attribution {
  position: absolute;
  top: 5px;
  right: 45px;
}

.attribution p {
  color: #aaa;
  display: inline-block;
  padding-top: 2px;
}

.attribution p.burst {
  position: absolute;
  top: -2px;
}

/*------検索結果------*/

#results {
  display: none;
  margin: 0 0 0 10px;
  width: 465px;
  float:left;
}

#results .result {
  clear: both;
  animation: fadein .5s;
  -moz-animation: fadein .5s; /* Firefox */
  -webkit-animation: fadein .5s; /* Safari and Chrome */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera */

  background: #fff;
  border-bottom: 1px solid #e5e5e1;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: left;
  width: 110px;
}

#results .result p {
  margin: 0;
}

/*お気に入り★ボタン 作成*/
#results .result input{

  font-size: 24px;
  position: absolute;
  z-index: 10;
  color:#F9D423;
  text-decoration: none;
  margin: -20px 0 0 -16px;
  cursor: pointer;
  background:none;
  border: none;
  text-shadow: 0 1px #D7A405;
  /*box-shadow: 0 5px #4c4c4c;*/
  /*background:url(../img/form-btn-clear.png) center center no-repeat;*/
  /*background-color: #7f7f7f;*/
}

#results .result input:active{
  color:#F08A4D;
  font-size: 26px;
  margin: -20px 0 0 -16px;
  background: transparent;
}

#results .result input:focus {
  outline: transparent;
}
/*---------------*/

.result h5 {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
  float:left;
}

.result img.biz_img {
  float:left;
  width:px;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

@keyframes fadein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

/* Firefox */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

h1{
  text-align: center;
}