@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "normalize";
@import "custom";

@import "font-awesome-sprockets";
@import "font-awesome";

/*---header・footer---*/

/* ------------------------------------- */
/*   00.Common  */
/* ------------------------------------- */

html, body {
  height: 100%;
  /*width: 100%;*/
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body{
font-family:"Josefin Sans",Helvetica,Arial,"Hiragino Kaku Gothic ProN",Meiryo,游ゴシック,YuGothic,sans-serif;
}

/*  color  */
/*--------------------------------- */
$key-color: #666060;

/*  headind  */
/*--------------------------------- */
h1,h2,h3{
    margin: 0;
}
h1{
  text-align: center;
}

/*  a  */

a{text-decoration:none;color:#666060;-webkit-transition:color .25s linear;outline:none}
a:hover{color:#999;text-decoration:none}

/* ------------------------------------- */
/*   01.Header  */
/* ------------------------------------- */

/*  top_bar  */
#header .top_bar{
    text-align: left;
    border-bottom: 1px solid #eee;
    color: #aaa;
    ul{
        display: inline-block;
        margin-bottom: 0;
        margin-left: 4px;   //fix:display bug
        li{
            height: 40px;
            padding: 0;
            margin-left: -4px;  //fix:display bug
            border-left: 1px solid #eee;
            font-size: 16px;
            line-height: 40px;
            &:last-child{
                border-right: 1px solid #eee;
            }
            &.tell,&.mail{
                padding: 0 15px;
            }
            a{
                display: block;
                text-align: center;
                width: 40px;
                height: 40px;
                color: #eee;
                i{
                    font-size: 16px;
                    line-height: 40px;
                }
            }
        }
    }
}

/*  nab_bar  */
/*--------------------------------- */
#header .nav_bar{
    border-bottom: 1px solid #eee;
    .navbar{
        height: 100px;
        margin-bottom: 0;
        &.navbar-default {
            background: none;
            border: none;
        }

        .navbar-header{
            height: 100px;

            .navbar-toggle {
                margin-top: 33px;
                border: none;
                background: none;

            }
            .title{
              /* .navbar-brand{
                    height: 100px;
                    padding: 0;
                    font-size: 54px;
                    color: #555;
                    font-family: 'Sacramento';

                }*/
                .navbar-brand img{
                    /*height: 100px;
                    padding: 0;
                    font-size: 54px;
                    color: #555;
                    font-family: 'Sacramento';*/
                    width:120px;
                    height: auto;
                    display :block;
                    margin:13px 0 0 0;
                    span{
                        color: #555;
                    }
                    @media screen and (max-width: 767px) {
                    
                    }
                }
            }
        }

        .navbar-nav>li>a {
            padding: 0 0 0 42px;            
            color: #555;
            font-size: 18px;
            font-family: 'Josefin Slab';
            line-height: 100px;
            background: rgba(255,255,255,0.9);
            z-index: 10;
            span{
              font-size:12px;
            }
            @media screen and (max-width: 991px) {
                  line-height: 100px;
            }
            @media screen and (max-width: 767px) {
                  line-height: 3.5;
                  padding: 0 0 0 5px;
                  border-bottom: 1.5px dotted #ccc;

            }
        }
        .navbar-nav>li:last-child>a {
            @media screen and (max-width: 767px) {
                  border-bottom: none;
            }
        }
        .navbar-nav>.open>a,
        .navbar-default .navbar-nav>.open>a:hover,
        .navbar-default .navbar-nav>.open>a:focus {
            background: none;
            color: #FF3838;
        }
        .navbar-nav>li>.dropdown-menu {
            padding: 0;
            border-top: 2px solid #FF3838;
            li{
                height: 42px;
                a{
                    padding: 0 20px;
                    color: #555;
                    line-height: 42px;
                }
            }
        }
    }
}

/* ------------------------------------- */
/*   02.Footer  */
/* ------------------------------------- */
#footer{
    padding: 60px 0;
    background-color: #fff;

    .footer_panel{
        min-height: 326px;
        margin-bottom: 20px;
        border-right: 1px solid #060606;
        border-left: 1px solid #2D2D2D;
        &:first-child{
            border-left: none;
        }
        &.right{    //last-child
            border-right: none;
        }
        .title{
            margin-top: 0;
            margin-bottom: 20px;
            color: #eee;
            font-size: 24px;
        }
        .text{
            color: #aaa;
        }
    }
    .copy{
        font-size:  18px;
        color: #847F7F;
        font-family: 'Josefin Sans', sans-serif;
    }
}











