/* Template:BOOTCORP Author:@takeshi-du 
Website:http://designup.jp Lisence : under the MIT license.*/

/* ------------------------------------- */
/*   00.Common  */
/* ------------------------------------- */

a{
    text-decoration: none;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}
/*  color  */
/*--------------------------------- */
$key-color: #FF3838;

/*  google font  */
/*--------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Sacramento);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:100,300,400,600);



/*  text_color  */
/*--------------------------------- */


/*  ついか  */
/*--------------------------------- */

.input-group input{
    height: 50px;
}

.input-group-btn .glyphicon-search{
    font-size:27px;
}


/*  alert notice のメッセージ  */
/*--------------------------------- */

/* 表示ボタン */
#show {
    /* 画面中央に表示 */
    position: absolute;
    top: 50%;
    left: 50%;
}

/* メッセージ */
.alert {
    /* 初期状態は非表示 */
    width: 300px;
    /* 画面上部に表示 */
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -175px; /* (width + padding-left + padding-right + border-left + border-right) の半分 */
}

/* ログイン時などのメッセージだし */

/* 途中までなんかうまくいったが再読み込みするとまたでてしまう
display:none;をいれるべき？ちょっと、どうさが遅くて？？ */

.m_fadeout {
    width: 150px;
    /* 画面上部に表示 */
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -175px; /* (width + padding-left + padding-right + border-left + border-right) の半分 */
    /*background-color: #3FB8AF;
    border-radius: 2px;*/
    display:block;
    color:#999;
    border-bottom:2px dotted;
}

#foo{
    background: #eee ;
    margin:25px;
    padding:25px;
    width: 200px ;
}

/*------トップページ---------*/

.input-group .form-control:first-child{
    border-radius: 50px;
}

.yelp_note{
    clear:both;
    padding:20px 0 0 0;
    a img{
        clear:both;
        margin: 0 0 12px 0;
    }
    span{
        font-size:16px;
    }
}

.tx_h{
  font-size: 1.05em;
}

/*------“”マーク-----*/

.top_m span{
font-family: 'IM Fell DW Pica', serif;
padding: 3px;
font-size: 0.5em
}

.im_t{
font-family: 'IM Fell DW Pica', serif;
padding: 3px;
font-size: 0.8em;
}

/*------トップイメージと重なる黒---------*/

.carousel-caption {
      background:rgba(0,0,0,0.4);
      position: absolute;      
      z-index: 10;
      padding-bottom: 20px;
      color: white;
      text-align: center;
/*      margin: 3% 5%;
*/        
        h3.title{
          font-family: 'Sacramento', cursive;
          font-size: 8em;
          margin: -21px 0 80px 0;
        }
        p{
          font-size: 16px;
          margin:0 15px 20px;
        }

    @media (min-width: 1200px) {
      margin: 0% 6%;
      height:90%;

    }
    @media (min-width: 992px) and (max-width: 1199px) {
      /*margin: 0 0 1.5%;*/
      /*padding:0;*/
      /*margin: 0% 5%;*/
      bottom:0;

    }    
    @media (min-width: 768px) and (max-width: 991px) {
         h3.title{
          font-size: 6.5em;
          margin: 0 0 40px 0;
        }
         /*margin: 50px 0 0 0;*/
          bottom:0;

    }
    @media screen and (max-width: 767px) {      
        h3.title{
          font-size: 6em;
          margin: 1% 0 2% 0;
        }
        p{
          font-size: 16px;
          margin:35px 0 20px 0;
        }
        bottom:-5px;
    }
}


/*.bk_01{
  background: rgba(255,0,0,0.7);
  width:60%;
  margin:0 auto;
  z−index:30;
  height:50%;
}
*/



/*------ログイン画面など---------*/


/*タイトル*/
.sign h1{
    font-size:22px;
    margin:8px auto 20px;
}
.sign h1 span{
    font-size:15px;
}

.fs_0{
    font-size:20px;
}

.heading_002{
    font-size:16px;
    margin: 30px 0 0 0;
}
/*-------エラーメッセージ-------*/

#error_explanation h2 {
  font-size: 16px;
  color: #1C9E8F;
  margin: 20px 0 10px 20px;
}


/*--------  form -----------*/
form label {
    /*display: block;*/
    margin: 22px 0 5px;
    font-size: 14px;
    font-weight: normal;
}

.rem_label{
    margin:4px 0 0 0;
}

input[type="text"], input[type="password"], input[type="email"],textarea,select{
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 8px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #FFF;
    color: #666;
    font-size: 16px;
    font-weight:bold;
    line-height: 40px;
    font-family:"Josefin Sans";
    font-weight:500;
    color:#363736;
}

input[type="checkbox"]{
  -moz-transform-origin: right bottom;
  -moz-transform: scale( 2 , 2 );
  width: 26px;
  height: 26px;
  vertical-align: bottom;
}

span.rem_label{
    margin:3px 0 0 0;
}

/*---ログイン・会員登録ボタン---*/

.btn_type1 input{
    margin :40px 0 0 0;
    display: block;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    font-size:14.5px;
    height:45px;
    line-height:40px;
    text-align: center;
    background: #3FB8AF;
    color: #FFFFFF;
    cursor: pointer;
    border:none;
}

.btn_type1 input:active{
    margin :40px 0 0 0;
    display: block;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    font-size:14.5px;
    height:45px;
    line-height:40px;
    text-align: center;
    background: #7FC7AF;
    color: #FFFFFF;
    cursor: pointer;
    border:none;
}
/*----アカウント削除ボタン----*/

.btn_type2 input{
    margin :40px 0 0 0;
    display: block;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    font-size:14.5px;
    height:45px;
    line-height:40px;
    text-align: center;
    background: #6B6B6B;
    color: #FFFFFF;
    cursor: pointer;
    border:none;
}

.btn_type1 input:focus,.btn_type2 input:focus {
  outline: transparent;
}

/*------会員登録・ログイン・Myページ系・About---------*/

.container2 {
  max-width: 900px;
  padding-left: 10px;
  padding-right: 10px;
  margin:30px auto 0;
  font-family:"Josefin Sans";
}

.container2 h1{
  margin:0 auto 40px;
}

ul.other_sign{   
    padding:10px;
    color:#FFF;
}

ul.other_sign li{
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding:8px;
  border-radius: 3px;
  color:#FFF;
}

ul.other_sign li:first-child{
    width:100%;
    border-radius:4px;
    background-color:#3b5998;
    display:block;
    color:#FFF;
    margin-bottom:18px;
}

ul.other_sign li:last-child{
    width:100%;
    border-radius:4px;
    background-color:#3aaaec;
    display:block;
    color:#FFF;
}

ul.other_sign li a{
    width:100%;
    height:43px;
    vertical-align:middle;
    text-align:center;
    line-height:28px;
    color:#FFF;
    display:block;

}

ul.other_sign li a span{
    font-size: 1.1em;
}

ul.other_sign li a span.b_tw{
    font-size: 1.3em;
}

ul.other_sign li a i{
    margin:0 5px 0 0;
}

/*------My favorite list（お気に入り）ページ---------*/

.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family:"Josefin Sans";
}


#mypage .result {
  animation: fadein .5s;
  -moz-animation: fadein .5s;
  -webkit-animation: fadein .5s;
  -ms-animation: fadein .5s;
  -o-animation: fadein .5s;
  border-bottom: 1px dotted #ccc;
  display: inline-block;
  padding: 15px 20px;
  text-align: left;
  float: left;
  height: 290px; 
  @media screen and (min-width: 992px) {

   }
  @media screen and (max-width: 991px) {
        width: 50%;
    }
  @media screen and (max-width: 767px) {
        width: 100%;
    }
}

#mypage .result h4 {
  font-size: 14px;
}

#mypage .result img.biz_img {
  float:left;
  width:110px;
  border-radius:4px;
  margin: 0 10px 0 0;
}

.t_count{
    font-size: 13px;
}

/*deleteボタン*/

.btn_delete{
  border-radius:50px;
  padding:7px 10px;
  border: 1px dotted #ccc;
  box-sizing: border-box;
  float:right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*------My account >リンク------*/

.t_right{
    text-align:right;
    font-size: 16px;
}

.t_line{
    border-top: 1px solid #eee;
    margin: 55px 0 0 0;
}

/*------My account(編集) ページ-----*/
/*FBとTWの時、名前とemail は、readonlyにする時のcss*/

input[readonly]{
  border: none;
  font-size: 18px;
}

.t_back{
    margin: 20px 0 0 0;
    font-size: 15px;
}
.sign span.i_txt{
    font-style: italic;
    font-size: 13px;
}

/*---------About ページ-----------*/

.p_01{
  width: 100%;
}

#about section{
  clear:both;
}






