/* 
Template:BOOTCORP
Author:@takeshi-du
Website:http://designup.jp
Lisence : under the MIT license.

Header,Side,Footer
00.common
01.Header
    01-1.top_bar
    01-2.nab_bar
02.Footer
*/

/* ------------------------------------- */
/*   00.Common  */
/* ------------------------------------- */

body{
    font-family: Arial, sans-serif;
}

/*  color  */
/*--------------------------------- */
$key-color: #FF3838;

/*  headind  */
/*--------------------------------- */
h1,h2,h3{
    margin: 0;
}

/*  a  */
/*--------------------------------- */
a{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*  section  */
/*--------------------------------- */
section{
    padding: 80px 0;
}
/* ------------------------------------- */
/*   01.Header  */
/* ------------------------------------- */

/*  top_bar  */
/*--------------------------------- */

#header .top_bar{
    text-align: left;
    border-bottom: 1px solid #eee;
    color: #aaa;
    ul{
        display: inline-block;
        margin-bottom: 0;
        margin-left: 4px;   //fix:display bug
        li{
            height: 40px;
            padding: 0;
            margin-left: -4px;  //fix:display bug
            border-left: 1px solid #eee;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 16px;
            line-height: 40px;
            &:last-child{
                border-right: 1px solid #eee;
            }
            &.tell,&.mail{
                padding: 0 15px;
            }
            a{
                display: block;
                text-align: center;
                width: 40px;
                height: 40px;
                color: #eee;
                i{
                    font-size: 16px;
                    line-height: 40px;
                }
            }
            &.facebook a:hover{
                color: #fff;
                background-color: #3B5998;
            }
            &.twitter a:hover{
                color: #fff;
                background-color: #00ACED;
            }
            &.google a:hover{
                color: #fff;
                background-color: #DD4B39;
            }
            &.github a:hover{
                color: #fff;
                background-color: #000;
            }
        }
    }
}

/*  nab_bar  */
/*--------------------------------- */
#header .nav_bar{
    border-bottom: 1px solid #eee;
    .navbar{
        height: 100px;
        margin-bottom: 0;
        &.navbar-default {
            background: none;
            border: none;
        }
        .navbar-header{
            height: 100px;
            .navbar-toggle {
                margin-top: 33px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }
            .title{
                .navbar-brand {
                    height: 100px;
                    padding: 0;
                    font-size: 54px;
                    color: #444;
                    font-family: 'Sacramento', cursive;
                    line-height: 100px;
                    span{
                        color: #FF3838;
                    }
                }
            }
        }
        .navbar-nav>li>a {
            padding-top: 0;
            padding-bottom: 0;
            color: #555;
            font-size: 20px;
            font-family: 'Arial', cursive;
            line-height: 100px;
        }
        .navbar-nav>.open>a,
        .navbar-default .navbar-nav>.open>a:hover,
        .navbar-default .navbar-nav>.open>a:focus {
            background: none;
            color: #FF3838;
        }
        .navbar-nav>li>.dropdown-menu {
            padding: 0;
            border-top: 2px solid #FF3838;
            li{
                height: 42px;
                a{
                    padding: 0 20px;
                    color: #555;
                    line-height: 42px;
                }
            }
        }
    }
}


/* ------------------------------------- */
/*   02.Footer  */
/* ------------------------------------- */
#footer{
    padding: 60px 0;
    background-color: #fff;

    .footer_panel{
        min-height: 326px;
        margin-bottom: 20px;
        border-right: 1px solid #060606;
        border-left: 1px solid #2D2D2D;
        &:first-child{
            border-left: none;
        }
        &.right{    //last-child
            border-right: none;
        }
        .title{
            margin-top: 0;
            margin-bottom: 20px;
            color: #eee;
            font-size: 24px;
            font-family: 'Open Sans Condensed', sans-serif;
        }
        .text{
            color: #aaa;
            font-family: 'Open Sans Condensed', sans-serif;
        }
    }
    .copy{
        font-size: 14px;
        color: #aaa;
        font-family: 'Open Sans Condensed', sans-serif;
    }
}

/*  work_image  */
/*--------------------------------- */
#footer .work_image{
    li{
        text-align: center;
        width: 80px;
        height: 80px;
        margin: 0 10px 10px 0;
        border: 1px solid #555;
        line-height: 80px;
        color: #ccc;
        font-size: 12px;
        background-color: #333;
    }
}

/*  blog  */
/*--------------------------------- */
#footer .item_list{
    padding-bottom: 4px;
    margin-bottom: 20px;
    .blog_title{
        margin-bottom: 5px;
        padding-bottom: 4px;
        font-size: 16px;
        border-bottom: 1px solid #555;
        a{
            color: #aaa;
            font-family: 'Open Sans Condensed', sans-serif;
            &:hover{
                color: #FF3838;
                text-decoration: none;
            }
        }
    }
    .meta{
        font-size: 13px;
        color: #888;
    }
}

/*  sns  */
/*--------------------------------- */
#footer .sns{
    li{
        height: 40px;
        font-size: 16px;
        a{
            display: block;
            text-align: center;
            width: 40px;
            height: 40px;
            color: #eee;
            background-color: #999;
            i{
                font-size: 16px;
                line-height: 40px;
            }
        }
        &.facebook a:hover{
            color: #fff;
            background-color: #3B5998;
        }
        &.twitter a:hover{
            color: #fff;
            background-color: #00ACED;
        }
        &.google a:hover{
            color: #fff;
            background-color: #DD4B39;
        }
        &.github a:hover{
            color: #fff;
            background-color: #000;
        }
    }
}